.wel{
  text-align: center;
}
.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
img{
 height: 200px;
 margin-top: 40px;
}
.btn{
  background-color: rgb(45, 45, 117);
  padding: 15px;
  border-radius: 10px;
  color: white;
  font: bold;
}
.navLink{
  margin-left: 100px;
}